{% extends "base.html" %}
{% block deleteb %}
  <td><button id="delete-{{fastfood.fastfood_id}}"type="button" onclick="select_for_delete({{fastfood.fastfood_id}})" class="btn btn-info">Select</button></td>
{% endblock %}
{% block content %}
<form method="post" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
    <div class="col-12">
      <div class="form-outline">
        <label class="form-label" for="form1">Enter Fast Food ID: </label>
        <input type="text" id="form1" class="form-control" name="fastfood_id" />
      
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Delete Food Item</button>
    </div>

    
  </form>
  <script>
    function select_for_delete(id){
      console.log(id)
      document.querySelector('input[name="fastfood_id"]').value = id;
    }
  </script>

{% endblock %}